Michal Jedrzejkiewicz <jedrzejkiewicz.michal@gmail.com> MJ211 <jedrzejkiewicz.michal@gmail.com>
Hubert Milczarek <hb.milczarek@gmail.com> choooobert <hb.milczarek@gmail.com>
Kamil Jankowski <1990.kamil.jankowski@gmail.com> Kamil-Jankowski <1990.kamil.jankowski@gmail.com>
