<div class="row" style="padding: 2rem; background-color: rgb(77, 73, 73);">
    <div class="col-lg-12">
        <p class="bs-component">
            <a>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/home">{{'END.RESTART' | translate}}</button>
            </a> 
        </p>
        <img src="assets/img/landing-ship.jpg" alt="Ship image" style="max-width: 100%;">
        <span>
            {{'END.CREDITS_BY' | translate}} <a href="https://unsplash.com/@jamie_morrison?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jamie Morrison</a> {{'END.CREDITS_ON' | translate}} <a href="https://unsplash.com/s/photos/ship?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
        </span>
    </div>
</div>