<div class="row" style="padding: 1rem;">
    <div class="col-lg-6"> 

      <div class="bs-component">
        <div class="card" style="text-align: center;">
          <div class="card-body">
            {{'GAME.SHIPS' | translate}}
          </div>
        </div>
        <mat-grid-list cols="10" rowHeight="1:1">
          <div *ngFor="let square of shipMap">
            <mat-grid-tile>
              <button mat-mini-fab color="" 
                [ngClass]="{'button-miss': square.status==2,
                 'button-hit': square.status==1,
                  'button-ship': square.status==3,
                  'button-blocked': square.status==0}">
              </button>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>

    </div>
    <div class="col-lg-6">

      <div class="bs-component">
        <div class="card" style="text-align: center;">
          <div class="card-body">
            {{'GAME.SHOTS' | translate}}
          </div>
        </div>
        <mat-grid-list cols="10" rowHeight="1:1">
          <div *ngFor="let square of shootMap">
            <mat-grid-tile>
              <button mat-mini-fab color="" 
              [ngClass]="{'button-miss' : square.status==2,
               'button-hit': square.status==1,
                'button' : square.status==4,
                 'button-blocked' : square.status==0}" 
                  (click)="status = changeStatus(square.id)">
              </button>
            </mat-grid-tile>
          </div>
      </mat-grid-list>
    </div>

    </div>
</div>

<div class="row" style="padding: 1rem;">
  
  <div class="col-lg-4">
    <div class="card" style="text-align: center; padding-top: 1rem;">
      <h5 class="card-title">{{'GAME.PLAYER' | translate}}</h5>
      <div class="card-body">
        <p *ngIf="player" >
          {{player.name}}
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card" style="text-align: center; padding-top: 1rem;">
      <h5 class="card-title">{{'GAME.INFO' | translate}}</h5>
      <div class="card-body">
        <p *ngIf="playerTurn">
          {{'GAME.TURN' | translate}} {{ playerTurn.name }}
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card" style="text-align: center;">
      <div class="card-body">
        <a>
          <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/landing/loose">
            {{'GAME.END' | translate}}</button>
        </a>
      </div>
    </div>
  </div>

</div>