<html>
  <head>
    <meta charset="utf-8">
    <title>{{'APP.TITLE'|translate}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="">

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" routerLink="">{{'APP.TITLE'|translate}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline my-2 my-lg-0">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <label for="">
                        {{'APP.SELECT' | translate}}
                        <select #langselect (change)="switchLang(langselect.value)">
                          <option *ngFor="let lang of translate.getLangs()"
                                  [value]="lang"
                                  [selected]="lang === translate.currentLang">
                                  {{ lang }}
                          </option>
                        </select>
                      </label>
                    </li>
                  </ul>
                </form>
              </div>
        </div>
    </div>
    
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-5">{{'APP.WELCOME' | translate }}</h1>
        <router-outlet></router-outlet>
      </div>
    </div>

  </body>

</html>